<div class="form-group kt-form__group row">
    <div class="col-lg-12 kt-margin-bottom-20-mobile">
        <kt-portlet>
            <!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
            <kt-portlet-header [class]="'kt-portlet__head--lg'" [title]="'Staff'" [viewLoading$]="dataSource.loading$">
            </kt-portlet-header>
            <!-- end::Header -->
            <kt-portlet-body>
                <div class="kt-form kt-margin-b-30">
                    <form class="form" [formGroup]="searchForm">
                        <div class="card-body">
                
                            <div class="card-body-progress">
                                <mat-spinner [diameter]="20"></mat-spinner>
                            </div>
                
                            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                                Oh snap! Change a few things up and try submitting again.
                            </kt-alert>
                
                            <div class="form-group row">
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Role" formControlName="RoleId">
                                            <mat-option value="3">Role 1</mat-option>
                                            <mat-option value="4">Role 2</mat-option>
                                        </mat-select>
                
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter Text"
                                            formControlName="searchText" />
                                        <mat-error>Text
                                            <strong>is required</strong>
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <button type="button" mat-raised-button color="primary" (click)="onSearch()" [disabled]="viewLoading" matTooltip="Save changes">
                                        Search
                                    </button>
                                </div>
                            </div>
                
                        </div>
                        <!-- <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div class="mr-2"></div>
                                <div>
                                    <button type="button" mat-raised-button color="primary" (click)="onSearch()" [disabled]="viewLoading" matTooltip="Save changes">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div> -->
                    </form>
                   
                </div>
            </kt-portlet-body>
            <!-- end::Body -->
        </kt-portlet>
    </div>
    <div class="col-lg-12 kt-margin-bottom-20-mobile">
        <kt-portlet>
            <!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
            <!-- <kt-portlet-header [class]="'kt-portlet__head--lg'" [title]="'Staff List'"
                [viewLoading$]="dataSource.loading$">
            </kt-portlet-header> -->
            <!-- end::Header -->
            <kt-portlet-body>
                <!-- start::FILTERS -->
                <div class="kt-form__filtration">
                    <div class="row align-items-center">

                        <div class="col-md-2 kt-margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Search Check Out Policy " #searchInput
                                    placeholder="Search">
                                <mat-hint align="start">
                                    <strong>Search</strong> in all fields
                                </mat-hint>
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <!-- end::FILTERS -->
                
                <div class="mat-table__wrapper">
                    <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                        matSortActive="id" matSortDirection="asc" matSortDisableClear>
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                            <mat-cell *matCellDef="let staff">{{staff.id}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="staffId">
                            <mat-header-cell class="w-75" *matHeaderCellDef mat-sort-header>Staff Id
                            </mat-header-cell>
                            <mat-cell *matCellDef="let staff">{{staff.staffId}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell class="w-75" *matHeaderCellDef mat-sort-header>Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let staff">{{staff.name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="role">
                            <mat-header-cell class="w-75" *matHeaderCellDef mat-sort-header>role
                            </mat-header-cell>
                            <mat-cell *matCellDef="let staff">{{staff.roleName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="department">
                            <mat-header-cell class="w-75" *matHeaderCellDef mat-sort-header>department
                            </mat-header-cell>
                            <mat-cell *matCellDef="let staff">{{staff.departmentName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="designation">
                            <mat-header-cell class="w-75" *matHeaderCellDef mat-sort-header>Designation
                            </mat-header-cell>
                            <mat-cell *matCellDef="let staff"> {{staff.staffDesignation}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="mobileNo">
                            <mat-header-cell class="w-75" *matHeaderCellDef mat-sort-header>Mobile No
                            </mat-header-cell>
                            <mat-cell *matCellDef="let staff">{{staff.contactNo}}</mat-cell>
                        </ng-container>



                        
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                            <mat-cell *matCellDef="let staff">
                               
                                    <button mat-icon-button color="primary" matTooltip="Edit Staff"
                                        (click)="editStaff(staff)">
                                        <mat-icon>create</mat-icon>
                                    </button>&nbsp;
                              

                                
                                    <button mat-icon-button color="warn" matTooltip="Delete Staff"
                                        type="button" (click)="deleteStaff(staff)">
                                        <mat-icon>delete</mat-icon>
                                    </button>&nbsp;
                                


                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>
                    <!-- Message for empty data  -->
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
                    <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....
                    </div>
                </div>

                <!-- start: BOTTOM -->
                <div class="mat-table__bottom">
                    <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <!-- MATERIAL PAGINATOR | Binded to dasources -->
                    <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20, 30]"
                        [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
                </div>
                <!-- end: BOTTOM -->

            </kt-portlet-body>
            <!-- end::Body -->

        </kt-portlet>
    </div>
</div>