<div class="card card-custom"
	[ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">{{getTitle()}}</h3>
		</div>
	</div>
	<form class="form" [formGroup]="studentFeeAmountDetailsForm">
		<div class="card-body">

			<div class="card-body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

		

			<ng-container *ngIf="data.type == 'single';else elseform">
				<div class="form-group row">	                
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput [matDatepicker]="picker"
								placeholder="Choose a Date "
								formControlName="date" />
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<mat-hint align="start">Please enter
								<strong>Date </strong> in 'mm/dd/yyyy' format</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Enter Amount" formControlName="amount" (keypress)=_keyPress($event) (keyup)="amountEnter($event)"/>
							<mat-error> Amount is
								<strong>required</strong>
							</mat-error>
							<span style="color: red;font-size: 12px">{{errormsg}}</span>
						</mat-form-field>
					</div>
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select placeholder="Select Discount"  (selectionChange)="onFeesDiscountChange($event.value)">

								<mat-option *ngFor="let feesDiscount of feesDiscountList" [value]="classData.id" >
									{{feesDiscount.feesDiscountAmount}}
								</mat-option>
							</mat-select>
							<mat-error>Class
								<strong>is required</strong>
							</mat-error>
						</mat-form-field>
					</div>


					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Discount Amount" formControlName="amountDiscount" readonly/>
							<mat-error> Discount Amount is
								<strong>required</strong>
							</mat-error>
	
						</mat-form-field>
					</div>
	
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Fine Amount" formControlName="amountFine" readonly/>
							<mat-error>Fine Amount is
								<strong>required</strong>
							</mat-error>
	
						</mat-form-field>
					</div>
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<label >Payment Type</label><br>
						<mat-radio-group aria-label="Select an option" formControlName="paymentMode">
							<mat-radio-button value='Cash'>Cash</mat-radio-button>
							<mat-radio-button value='Cheque'>Cheque</mat-radio-button>
							<mat-radio-button value='DD'>DD</mat-radio-button>
						  </mat-radio-group>
					</div>
	
					<div class="col-lg-12 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<textarea matInput rows="2" placeholder="Enter Note" formControlName="description"></textarea>
						</mat-form-field>
					</div>
	
				</div>
			</ng-container>
			<ng-template #elseform>
				<div class="form-group row">	                
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput [matDatepicker]="picker"
								placeholder="Choose a Date "
								formControlName="date" />
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<mat-hint align="start">Please enter
								<strong>Date </strong> in 'mm/dd/yyyy' format</mat-hint>
						</mat-form-field>
					</div>
				
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<label >Payment Type</label><br>
						<mat-radio-group aria-label="Select an option" formControlName="paymentMode">
							<mat-radio-button value=1>Cash</mat-radio-button>
							<mat-radio-button value=2>Cheque</mat-radio-button>
							<mat-radio-button value=3>DD</mat-radio-button>
						  </mat-radio-group>
					</div>
	
					<div class="col-lg-12 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<textarea matInput rows="2" placeholder="Enter Note" formControlName="description"></textarea>
						</mat-form-field>
					</div>
	
				</div>
			</ng-template>



		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
						Cancel
					</button>&nbsp;
					<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
						Save
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
