<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }" style="overflow-y: scroll;height: 500px;">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">{{getTitle()}}</h3>
		</div>
	</div>

	<form class="form" [formGroup]="searchForm">
		<div class="card-body">

			<div class="card-body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
				(close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

			<div class="form-group row">
				<div class="col-lg-3 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Class" formControlName="classId"
							(selectionChange)="onClassSelectChange($event.value)">
							<mat-option *ngFor="let classData of classList" [value]="classData.id">
								{{classData.classses}}
							</mat-option>
						</mat-select>

					</mat-form-field>
				</div>
				<div class="col-lg-3 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Section" formControlName="sectionId"
							(selectionChange)="onSectionSelectChange($event.value)">
							<mat-option *ngFor="let section of sectionList" [value]="section.id">
								{{section.section}}
							</mat-option>
						</mat-select>

					</mat-form-field>
				</div>
				<div class="col-lg-3 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">

						<mat-select placeholder="Select Subject Group" formControlName="subjectGroupId">
							<mat-option *ngFor="let subjectGroup of subjectGroupList" [value]="subjectGroup.id">
								{{subjectGroup.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-2 kt-margin-bottom-20-mobile">
				<div class="d-flex justify-content-between">
					<div></div>
					<div>
						<button type="button" mat-raised-button color="primary" (click)="onSearch()"
							[disabled]="viewLoading" matTooltip="Save changes">
							Search
						</button>
					</div>
				</div>
				</div>


			</div>

		</div>
		<!-- <div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					<button type="button" mat-raised-button color="primary" (click)="onSearch()"
						[disabled]="viewLoading" matTooltip="Save changes">
						Search
					</button>
				</div>
			</div>
		</div> -->
	</form>

	<form class="form" [formGroup]="classTimetableForm">
		<div class="card-body">

			<div class="card-body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
				(close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

			<mat-tab-group style="height: 300px;" #tabGroup (selectedTabChange)="tabChanged($event)">

				<!-- <mat-tab *ngFor="let tab of tabsForTabs; let index = index" [label]="tab">

					<button type="button" mat-raised-button color="primary" class="col-md-1 pull-right"
					(click)="addItemRow()">
					<i class="material-icons">add</i>
				</button>

				<div class="card table-responsive">
					<table class="table" style="width: 100%">
						<thead>
							<tr>
								<th width="20%">Subject</th>
								<th width="10%">Teacher</th>
								<th width="10%">Time From</th>
								<th width="10%">Time To</th>
								<th width="10%">Room No</th>
								<th width="10%">Remove</th>
							</tr>
						</thead>
						<tbody>
							<tr formArrayName="items"
								*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
								<ng-container [formGroupName]="i">
									<td class="form-group">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Subject" formControlName="subjectId"
												(selectionChange)="onSubjectSelectChange($event.value)">
												<mat-option *ngFor="let subject of subjectList"
													[value]="subject.id">
													{{subject.name}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</td>
									<td class="form-group">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Teacher" formControlName="staffId">
												<mat-option *ngFor="let staff of staffList" [value]="staff.id">
													{{staff.name}} {{staff.surname}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</td>
									<td class="form-group">
										<div class="ngx-timepicker-field-example">
											<label>From Time</label>
											<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
												formControlName="timeFrom"></ngx-timepicker-field>
										</div>
										
									</td>
									<td class="form-group">
										<div class="ngx-timepicker-field-example">
											<label>To Time</label>
											<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
												formControlName="timeTo"></ngx-timepicker-field>
										</div>
									
									</td>
									<td class="form-group">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Room No" formControlName="roomNo" />
											<mat-error>Room No is
												<strong>required</strong>
											</mat-error>

										</mat-form-field>
									</td>

									<td>
										<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
											(click)="removeItemRow(i)">
											<i class="material-icons">clear</i>
										</button>

									</td>
								</ng-container>
							</tr>
					</table>
				</div>

				</mat-tab> -->


				<mat-tab formArrayName="days" #pft
					*ngFor="let day of classTimetableForm.get('days')?.controls; let i = index">
					<div [formGroupName]="i">
						<ng-template mat-tab-label>
							{{day.controls.dayName.value}} <a>
							</a>
						</ng-template>



						<button type="button" mat-raised-button color="primary" class="col-md-1 pull-right"
							(click)="addItemRow(i,day.controls.dayName.value)">
							<i class="material-icons">add</i>
						</button>

						<div class="card table-responsive">
							<table class="table" style="width: 100%">
								<thead>
									<tr>
										<th width="20%">Subject</th>
										<th width="10%">Teacher</th>
										<th width="10%">Time From</th>
										<th width="10%">Time To</th>
										<th width="10%">Room No</th>
										<th width="10%">Remove</th>
									</tr>
								</thead>
								<tbody>

									<tr formArrayName="items"
										*ngFor="let item of day.get('items')?.controls;let j = index;">
										<ng-container [formGroupName]="j">
											<td class="form-group">
												<mat-form-field class="mat-form-field-fluid">
													<mat-select placeholder="Select Subject" formControlName="subjectId"
														(selectionChange)="onSubjectSelectChange($event.value,i,j)">
														<mat-option *ngFor="let subject of subjectList"
															[value]="subject.id">
															{{subject.name}}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</td>
											<td class="form-group">
												<mat-form-field class="mat-form-field-fluid">
													<mat-select placeholder="Select Teacher" formControlName="staffId" (selectionChange)="onStaffSelectChange($event.value,i,j)" >
														<mat-option *ngFor="let staff of staffList" [value]="staff.id">
															{{staff.name}} {{staff.surname}}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</td>
											<td class="form-group">
												<div class="ngx-timepicker-field-example">
													<!-- <label>From Time</label> -->
													<ngx-timepicker-field [controlOnly]="true"
														placeholder="Choose a Time " formControlName="timeFrom">
													</ngx-timepicker-field>
												</div>

											</td>
											<td class="form-group">
												<div class="ngx-timepicker-field-example">
													<!-- <label>To Time</label> -->
													<ngx-timepicker-field [controlOnly]="true"
														placeholder="Choose a Time " formControlName="timeTo">
													</ngx-timepicker-field>
												</div>

											</td>
											<td class="form-group">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Enter Room No"
														formControlName="roomNo" />
													<mat-error>Room No is
														<strong>required</strong>
													</mat-error>

												</mat-form-field>
											</td>

											<td>
												<!-- <button type="button" mat-raised-button color="warm"
													class="col-md-1 mr-2" (click)="removeItemRow(i,j)">
													<i class="material-icons">clear</i>
												</button>\ -->


												<button mat-icon-button color="warn" type="button"
													(click)="removeItemRow(i,j,item.controls.id.value)">
													<mat-icon>delete</mat-icon>
												</button>

											</td>
										</ng-container>
									</tr>
									</tbody>
							</table>
						</div>





					</div>
				</mat-tab>

				<!-- <mat-tab label="Monday">
					<button type="button" mat-raised-button color="primary" class="col-md-1 pull-right"
						(click)="addItemRow()">
						<i class="material-icons">add</i>
					</button>

					<div class="card table-responsive">
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="20%">Subject</th>
									<th width="10%">Teacher</th>
									<th width="10%">Time From</th>
									<th width="10%">Time To</th>
									<th width="10%">Room No</th>
									<th width="10%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr formArrayName="items"
									*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
									<ng-container [formGroupName]="i">
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Subject" formControlName="subjectId"
													(selectionChange)="onSubjectSelectChange($event.value)">
													<mat-option *ngFor="let subject of subjectList"
														[value]="subject.id">
														{{subject.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Teacher" formControlName="staffId">
													<mat-option *ngFor="let staff of staffList" [value]="staff.id">
														{{staff.name}} {{staff.surname}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>From Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeFrom"></ngx-timepicker-field>
											</div>
											
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>To Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeTo"></ngx-timepicker-field>
											</div>
										
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Room No" formControlName="roomNo" />
												<mat-error>Room No is
													<strong>required</strong>
												</mat-error>

											</mat-form-field>
										</td>

										<td>
											<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
												(click)="removeItemRow(i)">
												<i class="material-icons">clear</i>
											</button>

										</td>
									</ng-container>
								</tr>
						</table>
					</div>
				</mat-tab>
 -->

				<!-- <mat-tab label="Tuesday">
					 <button type="button" mat-raised-button color="primary" class="col-md-1 mr-2"
						(click)="addItemRow()">
						<i class="material-icons">add</i>
					</button>

					<div class="card table-responsive">
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="20%">Subject</th>
									<th width="10%">Teacher</th>
									<th width="10%">Time From</th>
									<th width="10%">Time To</th>
									<th width="10%">Room No</th>
									<th width="10%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr formArrayName="items"
									*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
									<ng-container [formGroupName]="i">
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Subject" formControlName="subjectId">
													<mat-option value="02">Business</mat-option>
													<mat-option value="12">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Teacher" formControlName="staffId">
													<mat-option value="033">Business</mat-option>
													<mat-option value="133">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												
												<label>From Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeFrom"></ngx-timepicker-field>
											</div>
										
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
											
												<label>To Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeTo"></ngx-timepicker-field>
											</div>
										
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Room No" formControlName="roomNo" />
												<mat-error>Room No is
													<strong>required</strong>
												</mat-error>

											</mat-form-field>
										</td>

										<td>
											<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
												(click)="removeItemRow(i)">
												<i class="material-icons">clear</i>
											</button>

										</td>
									</ng-container>
								</tr>
						</table>
					</div>
				</mat-tab>
				<mat-tab label="Wednusday">
					<button type="button" mat-raised-button color="primary" class="col-md-1 mr-2"
						(click)="addItemRow()">
						<i class="material-icons">add</i>
					</button>

					<div class="card table-responsive">
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="20%">Subject</th>
									<th width="10%">Teacher</th>
									<th width="10%">Time From</th>
									<th width="10%">Time To</th>
									<th width="10%">Room No</th>
									<th width="10%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr formArrayName="items"
									*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
									<ng-container [formGroupName]="i">
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Subject" formControlName="subjectId">
													<mat-option value="02">Business</mat-option>
													<mat-option value="12">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Teacher" formControlName="staffId">
													<mat-option value="033">Business</mat-option>
													<mat-option value="133">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>From Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeFrom"></ngx-timepicker-field>
											</div>
										
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
											<label>To Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeTo"></ngx-timepicker-field>
											</div>
											
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Room No" formControlName="roomNo" />
												<mat-error>Room No is
													<strong>required</strong>
												</mat-error>

											</mat-form-field>
										</td>

										<td>
											<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
												(click)="removeItemRow(i)">
												<i class="material-icons">clear</i>
											</button>

										</td>
									</ng-container>
								</tr>
						</table>
					</div>
				</mat-tab>
				<mat-tab label="Thusday">
					 <button type="button" mat-raised-button color="primary" class="col-md-1 mr-2"
						(click)="addItemRow()">
						<i class="material-icons">add</i>
					</button>

					<div class="card table-responsive">
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="20%">Subject</th>
									<th width="10%">Teacher</th>
									<th width="10%">Time From</th>
									<th width="10%">Time To</th>
									<th width="10%">Room No</th>
									<th width="10%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr formArrayName="items"
									*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
									<ng-container [formGroupName]="i">
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Subject" formControlName="subjectId">
													<mat-option value="02">Business</mat-option>
													<mat-option value="12">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Teacher" formControlName="staffId">
													<mat-option value="033">Business</mat-option>
													<mat-option value="133">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>From Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeFrom"></ngx-timepicker-field>
											</div>
											
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>To Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeTo"></ngx-timepicker-field>
											</div>
											
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Room No" formControlName="roomNo" />
												<mat-error>Room No is
													<strong>required</strong>
												</mat-error>

											</mat-form-field>
										</td>

										<td>
											<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
												(click)="removeItemRow(i)">
												<i class="material-icons">clear</i>
											</button>

										</td>
									</ng-container>
								</tr>
						</table>
					</div>
				</mat-tab>
				<mat-tab label="Friday">
					 <button type="button" mat-raised-button color="primary" class="col-md-1 mr-2"
						(click)="addItemRow()">
						<i class="material-icons">add</i>
					</button>

					<div class="card table-responsive">
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="20%">Subject</th>
									<th width="10%">Teacher</th>
									<th width="10%">Time From</th>
									<th width="10%">Time To</th>
									<th width="10%">Room No</th>
									<th width="10%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr formArrayName="items"
									*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
									<ng-container [formGroupName]="i">
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Subject" formControlName="subjectId">
													<mat-option value="02">Business</mat-option>
													<mat-option value="12">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Teacher" formControlName="staffId">
													<mat-option value="033">Business</mat-option>
													<mat-option value="133">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>From Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeFrom"></ngx-timepicker-field>
											</div>
										
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>To Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeTo"></ngx-timepicker-field>
											</div>
											
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Room No" formControlName="roomNo" />
												<mat-error>Room No is
													<strong>required</strong>
												</mat-error>

											</mat-form-field>
										</td>

										<td>
											<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
												(click)="removeItemRow(i)">
												<i class="material-icons">clear</i>
											</button>

										</td>
									</ng-container>
								</tr>
						</table>
					</div>
				</mat-tab>
				<mat-tab label="Saturday">
					 <button type="button" mat-raised-button color="primary" class="col-md-1 mr-2"
						(click)="addItemRow()">
						<i class="material-icons">add</i>
					</button>

					<div class="card table-responsive">
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="20%">Subject</th>
									<th width="10%">Teacher</th>
									<th width="10%">Time From</th>
									<th width="10%">Time To</th>
									<th width="10%">Room No</th>
									<th width="10%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr formArrayName="items"
									*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
									<ng-container [formGroupName]="i">
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Subject" formControlName="subjectId">
													<mat-option value="02">Business</mat-option>
													<mat-option value="12">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Teacher" formControlName="staffId">
													<mat-option value="033">Business</mat-option>
													<mat-option value="133">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
													<label>From Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeFrom"></ngx-timepicker-field>
											</div>
										
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>To Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeTo"></ngx-timepicker-field>
											</div>
										
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Room No" formControlName="roomNo" />
												<mat-error>Room No is
													<strong>required</strong>
												</mat-error>

											</mat-form-field>
										</td>

										<td>
											<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
												(click)="removeItemRow(i)">
												<i class="material-icons">clear</i>
											</button>

										</td>
									</ng-container>
								</tr>
						</table>
					</div>
				</mat-tab>
				<mat-tab label="Sunday">
					 <button type="button" mat-raised-button color="primary" class="col-md-1 mr-2"
						(click)="addItemRow()">
						<i class="material-icons">add</i>
					</button>

					<div class="card table-responsive">
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="20%">Subject</th>
									<th width="10%">Teacher</th>
									<th width="10%">Time From</th>
									<th width="10%">Time To</th>
									<th width="10%">Room No</th>
									<th width="10%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr formArrayName="items"
									*ngFor="let item of classTimetableForm.get('items')?.controls;let i = index;">
									<ng-container [formGroupName]="i">
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Subject" formControlName="subjectId">
													<mat-option value="02">Business</mat-option>
													<mat-option value="12">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Teacher" formControlName="staffId">
													<mat-option value="033">Business</mat-option>
													<mat-option value="133">Individual</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>From Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeFrom"></ngx-timepicker-field>
											</div>
											
										</td>
										<td class="form-group">
											<div class="ngx-timepicker-field-example">
												<label>To Time</label>
												<ngx-timepicker-field [controlOnly]="true" placeholder="Choose a Time "
													formControlName="timeTo"></ngx-timepicker-field>
											</div>
											
										</td>
										<td class="form-group">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Room No" formControlName="roomNo" />
												<mat-error>Room No is
													<strong>required</strong>
												</mat-error>

											</mat-form-field>
										</td>

										<td>
											<button type="button" mat-raised-button color="warm" class="col-md-1 mr-2"
												(click)="removeItemRow(i)">
												<i class="material-icons">clear</i>
											</button>

										</td>
									</ng-container>
								</tr>
						</table>
					</div>
				</mat-tab> -->


			</mat-tab-group>




		</div>


		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
						matTooltip="Cancel changes">
						Cancel
					</button>&nbsp;
					<button type="button" mat-raised-button color="primary" (click)="onSubmit()"
						[disabled]="viewLoading" matTooltip="Save changes">
						Save
					</button>
				</div>
			</div>
		</div>
	</form>

</div>